<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<meta charset="utf-8">
<title>IvAl- Login</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">




<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">
</head>
<body class="text-center ">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 mt-5">
			<form class="form-signin" action="/core/signin">
			<img class="mb-4" src="img/carrito.png" alt="" width="72" height="72">
			
			<h1 class="h3 mb-3 font-weight-norma text-lightl">Sign in</h1>
			
			<label for="inputEmail" class="sr-only">Username</label> 
			<input type="text" id="inputEmail" class="form-control m-2" placeholder="Email address" required autofocus name="username">
			
			<label for="inputPassword" class="sr-only">Password</label> 
			<input	type="password" id="inputPassword" name="password" class="form-control m-2" placeholder="Password" required>

			<label for="inputPassword" class="sr-only"></label> 
			<input	type="password" id="inputPassword" name="password" class="form-control m-2" placeholder="repeat password" required>
			
			<button class="btn btn-lg btn-primary btn-block m-2" type="submit">Sign	in</button>
			<div class="alert alert-danger collapse m-3" role="alert">	
				Error en el login <br> 
				usuario y/o contraseña incorrectos	
			</div>
			
		</form>
					<a class="btn btn-primary" href="/app/login" >Login</a>
					<a class="btn btn-primary" href="/index" >Home</a>
					<p class="mt-5 mb-3 text-muted">&copy; IvAl 2019</p>
		
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>



	
	
</body>
</html>
