<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4 text-center">
    	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	        <h1 class="cover-heading">Sistema de facturación de clientes</h1>
	        <p class="lead">Preparese para contemplar la aplicación más épica y mejor programada que existe ahora mismo en el mercado <br><small>Esto es el nuevo Facebook...</small></p>
	        <p class="lead">
	          <a href="/listar" class="btn btn-lg btn-secondary">Comenzar</a>
	        </p>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>